/venv
/aki-gh

/matplotlib
/latex

.ipynb_checkpoints/
.DS_Store
dataset_A_fitted_models.pkl
*.pkl
.vscode/
*.pyc
systiksen_kandipohja_latex/kandi.*
!systiksen_kandipohja_latex/kandi.tex
!systiksen_kandipohja_latex/kandi.pdf